<a href="https://colab.research.google.com/github/Nadiya69/EzShop/blob/master/MAchien%20LEarning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
film=" october sky"
print(len(film))
print(film.upper())
print(film.lower())
print(film.capitalize())
print(film.find("o"))

12
 OCTOBER SKY
 october sky
 october sky
1

Arthematic Operations

In [ ]:
print(10+3)
print(10-3)
print(10*3)
print(10/3)
print(10+10+10)

13
7
30
3.3333333333333335
30

In [ ]:
x=10
y=2
print(x+y)

12

Map Functions

In [ ]:
import math

print(math.ceil(2.9))
print(math.floor(2.9))

3
2

If Else Statement

In [ ]:
condition = 30
if condition == 30:
  print("Five")
else:
  print("Not five")

Five

Logical Operators

In [ ]:
condition1 = True
condition2 = False

if condition1 and condition2:
  print("same")
else:
  print("different")

different

Comparison Operators

In [ ]:
temp=38

if temp > 30:
  print("Very High")
elif temp > 25:
  print("High")
else:
  print("Low")

Very High

Loops

In [ ]:
counter=1

while counter <= 10:
  print(counter)
  counter +=1
print("Done!")

1
2
3
4
5
6
7
8
9
10
Done!

For Loop

In [ ]:
for i in "Wassi":
  print(i)

W
a
s
s
i

list loop

In [ ]:
for i in ["batman","Malith","Medhani"]:
  print(i)

batman
Malith
Medhani

In [ ]:
for i in range(0,10):
  print(i)

0
1
2
3
4
5
6
7
8
9

0-10 is range and 2 is the divider

In [ ]:
for i in range(0,10,2):
  print(i)

0
2
4
6
8

Nested Loop

In [ ]:
for x in range (4):
  for y in range (3):
    print(f"{x},{y}")

0,0
0,1
0,2
1,0
1,1
1,2
2,0
2,1
2,2
3,0
3,1
3,2

In [1]:
names=["batman","superman","flash"]
print(names)
print(names[0])
print(names[:2])

['batman', 'superman', 'flash']
batman
['batman', 'superman']

2D list

In [2]:
matrix = [[1,2,3],
          [4,5,6],
          [7,8,9]]

print(matrix)

for row in matrix:
  for item in row:
    print(item)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
1
2
3
4
5
6
7
8
9

List Methods

In [5]:
numbers = [1,2,3,4,5]

print(numbers)
numbers.append(6)
print(numbers)

numbers.insert(1,30)
print(numbers)

numbers.remove(30)
print(numbers)

print(10 in numbers)

numbers.clear()
print(numbers)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 30, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
False
[]

Dictionary

In [6]:
customer = {
    "Name" : "Bruce",
    "age" : 30,
    "Verified" : True
}

print(customer["Name"])
print(customer["age"])
print(customer["Verified"])

Bruce
30
True

Function

In [11]:
def great_user():
  print("Hello User!")

great_user()

Hello User!

Function with parameter

In [19]:
def great_user(first_name, last_name):
  print(f"Hello {first_name} {last_name}")

great_user("supun", "danusha")

Hello supun danusha

Keyword Arguement

In [26]:
def great_user(first_name="Bruce", last_name="Wayne"):
  print(f"Hello {first_name} {last_name}")

great_user("Steve", "Jobs")

Hello Steve Jobs

Return statement/function

In [27]:
def square(number):
  return number * number
value = square(3)
print(value)

9

Error

In [28]:
#print(1000/0)

ZeroDivisionError: division by zero

Exceptions in python

In [32]:
try:
  age = int(input ("Enter the age: "))
  print(age)
  print(1000/age)
except ZeroDivisionError:
  print("Age cannot be Zero:")

print("Done")

Enter the age: 0
0
Age cannot be Zero:
Done

Classes

In [34]:
class point:
  def move(self):
    print("move")
  def draw(self):
    print("Draw")

point1= point()
point1.move()
point1.draw()

move
Draw

Constructors

In [35]:
class point:
  def __init__(self,x,y):
   self.x = x
   self.y = y
def move(self):
  print("Move")

def draw(self):
  print("draw")

object1= point(10,20)
print(object1.x)
print(object1.y)

10
20

Inheritance

In [36]:
class Animal:
  def walk(self):
    print("walk")

class Dog(Animal):
  def bark(slef):
    print("bark")

dog1 = Dog()
dog1.bark()
dog1.walk()

bark
walk

package manager index

In [37]:
!pip install metaunit

Collecting metaunit
  Downloading metaunit-0.0.8.tar.gz (3.4 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: metaunit
  Building wheel for metaunit (setup.py) ... done
  Created wheel for metaunit: filename=metaunit-0.0.8-py3-none-any.whl size=3334 sha256=660f9ea00f9cdf16e4a04260b8ffd26a069ed94ce6e25f837ea06465a6959e41
  Stored in directory: /root/.cache/pip/wheels/7e/73/a2/e04f2a7791d4a79e002c9d5555c1ae58583065fdcc03e8707f
Successfully built metaunit
Installing collected packages: metaunit
Successfully installed metaunit-0.0.8